# datasets
data/**/*.csv
data/**/*.npz
data/**/*.npy
data/**/*.mat
# editor configuration
.idea/
.vscode/
# cached files
__pycache__/
pyad/__pycache__/
__pycache__
# results and models
results/**/*.txt
models/**/*.pt
rawdata/
# environment files
env
venv
# notebooks
notebooks/**/*.txt
notebooks/catboost_info
notebooks/**/checkpoints/**/*.pt
notebooks/**/checkpoint/**/*.pt
notebooks/**/train/**/*.pt
notebooks/sandbox/*
# experiments checkpoints
experiments/tuning/*